---
layout: page
title: Publications
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}


</li></ol>
<h2 id="journal-articles">Journal articles:</h2>
<!-- <ol class="bibliography"><li><span style="text-align: justify; display:block;" id="RamirezSantamariaScharf-2024-Passivedetectionofrandomsignal">D. Ramírez, I. Santamaría, and L. L. Scharf, “Passive detection of a random signal common to multi-sensor reference and surveillance arrays,” <i>IEEE Trans. Vehicular Techn.</i>, 
     vol. 73, no. 7, pp. 10106–10117, Jul. 2024.</span>  
</a>
</div>
<pre id="RamirezSantamariaScharf-2024-Passivedetectionofrandomsignal-bibtex" class="collapse"><small>@article{RamirezSantamariaScharf-2024-Passivedetectionofrandomsignal,
  arxiv = {2402.07583},
  author = {Ram{\'i}rez, D. and Santamar{\'i}a, I. and Scharf, L. L.},
  doi = {10.1109/TVT.2024.3366757},
  handle = {10016/44500},
  month = {{J}uly},
  issn = {0018-9545},
  journal = {{IEEE} {T}rans.\ {V}ehicular {T}echn.},
  volume = {73},
  number = {7},
  pages = {10106--10117},
  title = {Passive detection of a random signal common to multi-sensor reference and surveillance arrays},
  year = {2024},
  local-url = {TVT24_preprint.pdf}
}
</small></pre>-->



<article class="publication">
  #<h3 class="pub-title">Quantum Entanglement in Polymer Chains: A Novel Approach</h3>
  <p>D. Ramirez, I. Santamaria, and L. L. Scharf, "Passive detection of a random signal common to multi-sensor reference and surveillance arrays" </p>
  <p class="journal-info">
    <span class="journal-name">Journal of Advanced Quantum Physics</span>,
    <span class="volume">42</span>(<span class="issue">3</span>),
    <span class="pages">287-301</span>
  </p>
  <p class="publication-date">
    Published: <time datetime="2023-09-15">September 15, 2023</time>
  </p>
  <p class="doi">DOI: <a href="https://doi.org/10.1234/jaqp.2023.42.3.287">10.1234/jaqp.2023.42.3.287</a></p>
  <p class="abstract">
    This study explores the novel application of quantum entanglement principles to polymer chain structures, 
    revealing unexpected correlations between molecular behavior and quantum phenomena.
  </p>
  <div class="links">
    <a href="#" class="pdf-link">PDF</a>
    <a href="#" class="cite-link">Cite</a>
  </div>
</article>
</section>

